{#include base}
    {#title}SM Reporter{/title}
    {#body}
        <p>SM Reporter - Is a one stop-shop for all Scrum Master related day to day work with their PODs.</p>



        <div class="w3-row-padding w3-margin-top">
            <div class="w3-half">
                <div class="w3-card">

                    <div class="w3-container">
                        <p>Home</p>
                        <p>Just a welcome page for the portal.</p>
                    </div>
                </div>
            </div>

            <div class="w3-half">
                <div class="w3-card">

                    <div class="w3-container">
                        <p>Sprint Board</p>
                        <p>Full view of currently active Sprint. Currently works for POD11 can be expanded its feature.</p>
                    </div>
                </div>
            </div>
        </div>


    {/body}
{/include}