<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<head>
    <meta charset="UTF-8">
    <title>{#insert title}Default Title{/}</title>
</head>
<body class="w3-theme-l5">


<header class="w3-container w3-theme-d2 w3-top">
    <div class="w3-bar w3-theme-d3 w3-stretched">
        <a class="w3-bar-item w3-button" href="/">Home</a>
        <a class="w3-bar-item w3-button" href="/sprintboard">Sprint Board</a>

    </div>
    <h1>{#insert title}Default Title{/}</h1>
</header>
<br>  <br>  <br>  <br>  <br>  <br>
<div class="w3-container">

    {#insert body}No body!{/}
</div>
<footer class="w3-container w3-theme-d2 w3-margin-top w3-bottom">
    <p>VN, Fiserv.</p>
</footer>

</body>
</html>