{#include base}
    {#title}POD 11 Sprint Board{/title}
    {#body}

        <div class="w2-container">
        <table class="w3-table w3-border w3-large" style="width: 90%;" align="center" >
            <tr class="w3-theme-l4">
                <th class="w3-center">Sprint</th>
                <th class="w3-center">Start</th>
                <th class="w3-center">End</th>
                <th class="w3-center">Remaining</th>
                <th class="w3-center">Goal</th>
            </tr>
            <tr>
                <td>Sprint 2</td>
                <td></td>
                <td></td>
                <td></td>
                <td>1. dfsa fds asd sa <br>
                2. dfsdfsadas</td>
            </tr>
        </table>

</div>
        <br>
        <table class="w3-table w3-border w3-large">
            <tr class="w3-theme-l4 w3-center">
                <th class="w3-center">Type</th>
                <th class="w3-center">Item Id</th>
                <th class="w3-center">Summary</th>
                <th class="w3-center">Priority</th>
                <th class="w3-center">Assigned</th>
                <th class="w3-center">Status</th>
                <th class="w3-center">Story Points</th>
            </tr>
            <tr>
                <td class="w3-center w3-text-light-green w3-bold">S</td>
                <td><a href="">GVSP11-23</a></td>
                <td>Write and review LLD For Booking a Transaction</td>
                <td class="w3-center">Medium</td>
                <td class="w3-center">Suresh Kumar</td>
                <td class="w3-center"> <span class="w3-tag w3-lighter-red">In Progress</span></td>
                <td class="w3-center"> <span class="w3-badge w3-orange">5</span></td>
            </tr>

            <tr >
                <td colspan="7" >
                <table class="w3-table w3-border w3-medium w3-centered"  style="width: 90%;" align="center" >
                    <tr class="w3-theme-l4 w3-center">
                        <th class="w3-center">Sub-task ID</th>
                        <th class="w3-center">Description</th>
                        <th class="w3-center">Priority</th>
                        <th class="w3-center">Assigned</th>
                        <th class="w3-center">Status</th>
                    </tr>
                    <tr>
                        <td class="w3-center"><a href="">GVSP11-2334</a></td>
                        <td>Write the LLD</td>
                        <td class="w3-center">High</td>
                        <td class="w3-center">Alexander S</td>
                        <td class="w3-center">In Progress</td>
                    </tr>
                    <tr>
                        <td class="w3-center"><a href="">GVSP11-2344</a></td>
                        <td>Peer Review with team</td>
                        <td class="w3-center">High</td>
                        <td class="w3-center">   <p  style="width: 80%" class="w3-panel w3-leftbar w3-pale-red w3-border-red">Assignee is missing</p></td>
                        <td class="w3-center">To Do</td>
                    </tr>
                </table>
                </td>
            </tr>



            <tr >
                <td class="w3-center">S</td>
                <td><a href="">GVSP11-23</a></td>
                <td>Write and review LLD For Booking a Transaction</td>
                <td class="w3-center">Medium</td>
                <td class="w3-center">Suresh Kumar</td>
                <td class="w3-center">In Progress</td>
                <td class="w3-center">   <p  style="width: 80%" class="w3-panel w3-leftbar w3-pale-red w3-border-red">Story point is missing</p></td>

            </tr>

            <tr >
                <td colspan="7" >
                    <table class="w3-table w3-border w3-medium w3-centered"  style="width: 90%;" align="center" >
                        <tr class="w3-theme-l4 w3-center">
                            <th class="w3-center">Sub Task ID</th>
                            <th class="w3-center">Description</th>
                            <th class="w3-center">Priority</th>
                            <th class="w3-center">Assigned</th>
                            <th class="w3-center">Status</th>
                        </tr>
                        <tr>
                            <td class="w3-center"><a href="">GVSP11-2334</a></td>
                            <td>Write the LLD</td>
                            <td class="w3-center">High</td>
                            <td class="w3-center">Alexander S</td>
                            <td class="w3-center">In Progress</td>
                        </tr>
                        <tr>
                            <td class="w3-center"><a href="">GVSP11-2344</a></td>
                            <td>Peer Review with team</td>
                            <td class="w3-center">High</td>
                            <td class="w3-center">
                                    <p  style="width: 80%" class="w3-panel w3-leftbar w3-pale-red w3-border-red">Assignee is missing</p>
                                </td>
                            <td class="w3-center">To Do</td>
                        </tr>
                    </table>
                </td>
            </tr>




            <tr >
                <td class="w3-center">T</td>
                <td><a href="">GVSP11-23</a></td>
                <td>Write and review LLD For Booking a Transaction</td>
                <td class="w3-center">Medium</td>
                <td class="w3-center">Suresh Kumar</td>
                <td class="w3-center">In Progress</td>
                <td class="w3-center">   <span class="w3-badge w3-blue">3</span></td>

            </tr>

            <tr >
                <td colspan="7"  class="w3-center">
                    <p class="w3-panel w3-leftbar w3-pale-red w3-border-red w3-centered"  style="width: 80%">Subtasks are missing</p>
                </td>
            </tr>


        </table>
        <br/><br/><br/>
    {/body}
{/include}